# Archivos de configuración local
.env

# Archivos y directorios generados automáticamente
node_modules/
vendor/
*.log
tmp/
dist/
build/

# Caché del sistema y archivos temporales
.cache/
session/
*.swp

# Archivos del sistema
.DS_Store

# Configuraciones del IDE/editor
.idea/
.vscode/
*.sublime*

# Docker ignorar list
.dockerignore
